### 1. The global Keyword
### Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.
### To create a global variable inside a function, you can use the global keyword.

In [2]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [3]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# 2. Getting the Data Type
You can get the data type of any object by using the type() function:

In [5]:
x = 5
print(type(x))

<class 'int'>

# 3. Setting the Data Type

In [6]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = {"apple", "banana", "cherry"} #set
x = {"name" : "John", "age" : 36} #dictionary

In [7]:
x = b"Hello" #bytes

In [8]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [9]:
z

1j

# 4. Python Casting

In [10]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [11]:
z

3

In [12]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [13]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [14]:
z

'3.0'

# 5. Strings are Arrays

In [15]:
a = "Hello, World!"
print(a[1])

e

In [16]:
b = "Hello, World!"
print(b[2:5])

llo

In [17]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [18]:
a = "Hello, World!"
print(len(a))

13

# 6. String Methods

In [20]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [21]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [22]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [23]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [24]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [25]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [26]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [27]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

# 7. String Format

In [28]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [29]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# 8. Escape Character

In [30]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

# 9. find and index

find()	Searches the string for a specified value and returns the position of where it was found

index()	Searches the string for a specified value and returns the position of where it was found

In [31]:
txt.find('are')

3

In [32]:
txt.index('are')

3

# 10. The bool() function allows you to evaluate any value, and give you True or False in return,

In [33]:
print(bool("Hello"))
print(bool(15))

True
True

# 11. Python Lists

A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [34]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [35]:
print(thislist[1])

banana

In [37]:
print(thislist[-2])

banana

In [38]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

Note: The search will start at index 2 (included) and end at index 5 (not included).

In [39]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [41]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

To add an item to the end of the list, use the append() method:

In [42]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To add an item at the specified index, use the insert() method:

In [43]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

The remove() method removes the specified item:

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The pop() method removes the specified index, (or the last item if index is not specified):

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword removes the specified index:

In [46]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely:

In [47]:
thislist = ["apple", "banana", "cherry"]
del thislist

The clear() method empties the list:

In [48]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# 12. Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [50]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [51]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# 13. Join Two Lists

In [52]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [53]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [54]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [55]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# 14. Python Tuples

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [56]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [57]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [58]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [59]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [60]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

# 15. Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [62]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Iterate through the items and print the values:

In [63]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [64]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [65]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

# To create a tuple with only one item, you have add a comma after the item, unless Python will not recognize the variable as a tuple.

# Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

# 16. Join Two Tuples

In [66]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [67]:
# 17. The tuple() Constructor

In [68]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [70]:
thistuple.count('banana')

1

In [71]:
thistuple.index('banana')

1

# 17. Python Sets

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [73]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [74]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [75]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Change Items

Once a set is created, you cannot change its items, but you can add new items.

# 18. Add Items

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [76]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

In [77]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'orange', 'banana', 'apple', 'mango', 'cherry'}

In [78]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# 19. Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [81]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, remove() will raise an error.

In [82]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, discard() will NOT raise an error.

In [83]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

The clear() method empties the set:

In [84]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely:

In [85]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# 20. Join Two Sets

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [87]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [88]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

# 21. The set() Constructor

In [89]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

# 22. Python Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [90]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [91]:
x = thisdict["model"]

In [92]:
x

'Mustang'

In [93]:
x = thisdict.get("model")

In [94]:
x

'Mustang'

In [95]:
# You can change the value of a specific item by referring to its key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [96]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [97]:
for x in thisdict:
  print(x)

brand
model
year

In [98]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2018

In [99]:
# You can also use the values() function to return values of a dictionary:

for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [100]:
# Loop through both keys and values, by using the items() function:

for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

In [101]:
# To determine if a specified key is present in a dictionary use the in keyword:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [102]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [103]:
# The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [104]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [105]:
# The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [106]:
# The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [107]:
# The clear() keyword empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [108]:
# Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [109]:
# Make a copy of a dictionary with the dict() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# 22. Python If ... Else

In [110]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

# 23. Python While Loops

In [112]:
# With the while loop we can execute a set of statements as long as a condition is true.

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# 24. Python For Loops

In [113]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

# 25. Python Functions

In [114]:
def my_function():
  print("Hello from a function")

In [115]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [116]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [117]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [118]:
# Arbitrary Arguments

# If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

# This way the function will receive a tuple of arguments, and can access the items accordingly:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

# 26. Python Lambda

In [119]:
# A lambda function is a small anonymous function.

# A lambda function can take any number of arguments, but can only have one expression.

x = lambda a : a + 10
print(x(5))

15

In [120]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [127]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

# 27. Python Arrays

In [128]:
# Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

cars = ["Ford", "Volvo", "BMW"]

In [129]:
cars

['Ford', 'Volvo', 'BMW']

# 28. Python Classes and Objects

In [130]:
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

In [131]:
# The __init__() Function
# The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

# To understand the meaning of classes we have to understand the built-in __init__() function.

# All classes have a function called __init__(), which is always executed when the class is being initiated.

# Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [132]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [133]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [134]:
# Use the words mysillyobject and abc instead of self:

class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [135]:
# You can delete properties on objects by using the del keyword:

del p1.age

In [136]:
# You can delete objects by using the del keyword:

del p1

# 29. Python Inheritance

In [138]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [139]:
class Student(Person):
  pass

In [140]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [141]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [142]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [143]:
# Python also has a super() function that will make the child class inherit all the methods and properties from its parent:

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [145]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [146]:
# Add a property called graduationyear to the Student class:

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

In [147]:
# Add a method called welcome to the Student class:

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

# 30. Python JSON

In [148]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [149]:
# If you have a Python object, you can convert it into a JSON string by using the json.dumps() method.

import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [150]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

# 31. Python Try Except

In [151]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

{'name': 'John', 'age': 30, 'city': 'New York'}
The 'try except' is finished

In [152]:
# Raise an error and stop the program if x is lower than 0:

x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [153]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

# 32. Python User Input

In [154]:
username = input("Enter username:")
print("Username is: " + username)

Enter username: Dulal Das

Username is: Dulal Das